:root{
    --cor-de-fundo: #B658FF;
    --cor-do-texo-padrão: #FFFFFF;
    --cor-do-texto-diferente: #00E0FF;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}


.titulo{
    font-size: 300%;
}

.imagem{
    size: 1000%;
}