@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root {
    --cor-de-fundo: #1E1E1E;
    --verde: #6FFF57;
    --branco: #FFFFFF;
    --botao-ativo: #3A375E;
    --botao-inativo: rgba(58, 55, 94, 0.5);
    --texto-fundo: rgba(58, 55, 94, 0.3);
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Chakra Petch', sans-serif;
}


.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.conteudo-principal span{
    color: var(--verde);
}

.botao{
    font-size: 18px;
    background-color: var(--botao-inativo);
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--branco);
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top: none;
    
}
.botao:first-child{
    border-radius: 40px 40px 0 0 ;
}

.botoes{
    display: block;
}
.ativo{
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--verde);
}

@media screen and (min-width:768px){
    .botoes{
        display: flex;
    }
    .botao:first-child{
        border-radius: 40px 0 0 0 ;
    }
    .botao:last-child{
        border-radius: 0 40px 0 0 ;
    }
}


