:root{
    --cor-de-fundo: #B658FF;
    --cor-do-texo-padrão: #FFFFFF;
    --cor-do-texto-diferente: #00E0FF;
    --botao-ativo: #ffbf00;
}

body{

}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo{
    font-size: 500%;
}

.subtitle{
    font-size: 300%;
}

.imagem-begetto{
    width: 25%;
}

.imagem-freddo{
    width: 45%;
}

.botao{
    font-size: 10px;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top: none;
}

.botoes{
    display: block;
}

.botao:first-child{
    border-radius: 40px 40px 0 0;
}

@media screen and (min-width: 768px;){
    .botoes {
        display: flex;
    }
    .botao:first-child{
        border-radius: 40px 0 0 0;
    }
}